*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}


:root{
    --bg-color: #191919;
    --second-bg-color: #101010;
    --main-color: rgb(248, 252, 8);
    --text-color: #fff;
    --second-color: #e4e4e4;
    --other-color: #c6c9d8bf;
    --h1-font: 7rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem;
}

body{
    color: var(--text-color);
    background: var(--bg-color);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 11%;
    border-bottom: 1px solid transparent;
    transition: all ease .50s;
}

.logo {
    width: 100%;
    height: auto;
    color: var(--main-color);
    font-size: 27px;
    font-weight: 600;
}

.logo img{
    width: 80px;
    height: 80px;
    color: var(--main-color);
    font-size: 27px;
    font-weight: 600;
}

.navlist{
    display: flex;
}

.navlist a {
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: 600;
    margin: 0 40px;
    transition: all ease .40s;
}

.navlist a:hover{
    color: var(--main-color);
}

#menu-icon {
    font-size: 42px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.home {
    padding: 120px 19% 100px;
}

.about {
    padding: 120px 19% 100px;
}

.services {
    min-height: 100vh;
    padding: 10rem 4% 2rem;
}

.portfolio {
    min-height: 100vh;
    padding: 10rem 4% 2rem;
}

.home {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url(../images/Blac_BG.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home .btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    transition: .5s ease;
}

.home .btn:hover {
    box-shadow: none;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.hero-text h3{
    color: var(--second-color);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    word-spacing: 5px;
}

.hero-text h1 {
    font-family: 'Dosis', sans-serif;
    font-size: var(--h1-font);
    color: var(--text-color);
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.hero-text h4{
    color: var(--second-color);
    font-size: 25px;
    font-weight: 600;
    word-spacing: 5px;
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    padding: 16px 45px;
    background: var(--main-color);
    color: black;
    font-size: var(--p-font);
    font-weight: 600;
    border: 2px solid var(--main-color);
    transition: all ease .50s;
}

.btn:hover {
    transform: translateX(5px);
    background: transparent;
    color: var(--text-color);
    border: 2px solid var(--main-color);
}

header.sticky {
    padding: 5px 11%;
    background: #000;
    border-bottom: 1px solid #4e5055;
}

.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 4rem;
}

.about-img {
    width: 100%;
    height: auto;
    text-align: center;
}

.rounded-image {
    border-radius: 50%;
    border:4px solid #e4e4e4;
    width: 355px;
    height: 355px;
    object-fit: cover;
    overflow: hidden;
}

.about-text h2{
    font-family: 'Dosis', sans-serif;
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
}

.about-text h5 {
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.4;
}

span {
    color: var(--main-color);
}

.about-text p {
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 3rem;
}

.services {
    background: var(--second-bg-color);
}

.text-center {
    text-align: center;
}

.text-center h2{
    font-family: 'Dosis', sans-serif;
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
}

.services h4 {
    font-size: 19px;
    margin-bottom: 2rem;
}

.services-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 6rem;
}

.services-items .service-box {
    width: calc(33.33% - 2rem);
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
    box-sizing: border-box;
}

.services-items .service-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
    box-shadow: 0 0 1rem var(--main-color);
    transition: .5s ease;
}

.service-box i {
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 8px;
}

.service-box h3 {
    font-size: 1.6rem;
}

.service-box p {
    margin: 1rem 0 3rem;
}

.portfolio {
    background: var(--bg-color);
}

.portfolio h2 {
    margin-bottom: 3rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--second-bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
    opacity: 0.2;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 2rem;
}

.portfolio-layer p {
    font-size: 1.4rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}







